.navigation-bar-register{

    /* Setting colors */
    background-color: rgb(141, 43, 252);

    background: -webkit-linear-gradient(rgb(245, 42, 167), rgb(226, 41, 243));

    /* Positioning the navigation bar */
    height: 50px;
    border: 3px;

    /* Giving borders to the navigation bar */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;
}

/* Show the navigation bar if only have this max width */
@media only screen and (max-width: 900px) {
    .navigation-bar-register{display:none;}
}


.welcome-text-register{

    /* Giving personalization */
    background-color: rgb(141, 43, 252);
    color: white;

    /* Making the text match color with the background */
    background-clip: text;

    /* Positioning the message */
    position: relative;

    left: 100px;

    bottom: 15px;

    display:inline-block;

    font-size: 23px;

    cursor: default;
}


.send-to-login-button{

    /* Personalizing button */
    background-color: rgb(255, 255, 255);
    color: rgb(205, 42, 255);

    /* Positioning the button */
    position: relative;

    padding: 5px;

    font-size: 20px;

    top: 8px;
    right: 50px;
    float:right;

    /* Giving borders to the button */
    border: 0px;
    border-radius: 5px;

    border-style: solid;

    transition-duration: 0.3s;
}


.send-to-login-button:hover{

    /* Personalizing button when the mouse is above it */
    background: -webkit-linear-gradient(rgb(245, 42, 167), rgb(226, 41, 243));

    border: 1px;

    border-style: solid;

    color: white;
    
}


.register-square{
    
    /* Personalizing square */
    background-color: aliceblue;

    /* Positioning the square */
    bottom: 0;
    height: 500px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 510px;
    
    /* Giving borders and shadow to the square */
    border-color: rgb(183, 9, 140);
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;

    box-shadow: 10px 10px 5px rgb(115, 120, 179);

    aspect-ratio: 1;

    /* Making this so the border radius at the bottom don't interfere with the background color */
    overflow: hidden
}


.register-presentation{

    /* Font family of the element */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    /* Font size of the element */
    font-size: 45px;

    /* Giving a gradient to the text */
    background: -webkit-linear-gradient(rgb(245, 42, 167), rgb(188, 33, 202));
    background-clip: text;
    -webkit-text-fill-color: transparent;

}


.register-information-about-credentials{

    /* Personalizing the text */
    background: -webkit-linear-gradient(rgba(85, 28, 190, 0.911), rgba(228, 36, 186, 0.911));
    background-clip: text;
    -webkit-text-fill-color: transparent;

}


.person-icon-register{

    /* Personalizing the icon */

    position: absolute;

    top: 185px;

    left: 140px;

    transition-duration: 0.3s;

}

.person-icon-register:hover{

    /* Personalizing the icon when the mouse is above it */
    color: rgb(188, 33, 202);

}


.key-icon-register{

    /* Personalizing the icon */
    position: absolute;

    top: 230px;

    left: 140px;

    transition-duration: 0.3s;

}

.key-icon-register:hover{

    /* Personalizing the icon when the mouse is above it */
    color: rgb(188, 33, 202);

}

.sharp-icon-register{

    /* Personalizing the icon */
    position: absolute;

    top: 275px;

    left: 140px;

    transition-duration: 0.3s;

}

.sharp-icon-register:hover{

    /* Personalizing the icon when the mouse is above it */
    color: rgb(188, 33, 202);

}

.register-input{

    /* Centering the inputs */
    margin: auto;

    /* Giving separation to the login inputs */
    margin-bottom: 5px;


    /* Maximizing the size of the input blocks */
    width:130px;
    display: block;

    /* Personalizing input blocks */

    padding: 10px;
    border-radius:10px;
    border-color: rgb(225, 0, 255);
    background-color: rgb(243, 240, 255);

    transition-duration: 0.3s;

}


.register-input:hover{

    /* Personalizing the input when mouse is above it */
    background-color: rgb(243, 240, 255);

    border-color: rgb(119, 0, 255);

}


.register-page-register-button{
    
    /* Centering the button */
    margin: auto;

    transition-duration: 0.4s;

    /* Giving style to the button */
    border-color: rgb(202, 56, 105);
    border-radius: 5px;
    background-color: aliceblue;
    
    /* Giving size to the button */
    width:130px;
    padding: 10px;
    

    /* Show Button one above other */
    display: block;

    /* Giving margin to the button */
    
    margin-bottom: 10px;

}


.register-page-register-button:hover{

    /* Personalizing the button when mouse is above it */
    background: -webkit-linear-gradient(rgb(245, 42, 167), rgb(188, 33, 202));

    border-color: white;

    color: white;

}


.show-password-page-register-button{
    /* Centering the button */
    margin: auto;

    transition-duration: 0.4s;

    /* Giving style to the button */
    border-color: rgb(202, 56, 105);
    border-radius: 5px;
    background-color: aliceblue;

    /* Giving size to the button */
    width:130px;
    padding: 5px;
    

    /* Show Button one above other */
    display: block;
}


.show-password-page-register-button:hover{
    /* Personalizing the button when mouse is above it */
    background: -webkit-linear-gradient(rgb(245, 42, 167), rgb(188, 33, 202));

    border-color: white;

    color: white;

}

.link-to-login{

    /* Personalizing the link to the login page */
    background-color: rgba(144, 97, 255, 0);

}

.advertence-message-register-page{

    /* Personalizing the advertence messages when user puts a incorrect credential */
    padding-top: 20px;

    position: relative;

    top: 630px;

    color: rgb(241, 12, 107);

    text-shadow: 4px 5px #27112242;

    font-size: 30px;

}


.loader-registration {

    /* Personalizing the loader and positioning it */
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid hsl(256, 98%, 49%);
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    position: absolute;

    bottom: 35px;

    left: 240px;

}


.loader-registration::after {
    
    /* Personalizing the loader and positioning it */
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-bottom: 4px solid hsl(295, 100%, 50%);
    border-left: 4px solid transparent;
    }


    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

